.blueBlock{
    background-color: blue;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
img{
    float: right;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
}